body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}

ul,
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
.header__container {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 15px;
}
@media (min-width: 768px) {
  .header__container {
    padding: 26px 15px;
  }
}
@media (min-width: 1200px) {
  .header__container {
    padding: 24px 0;
  }
}
.header__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: #2196f3;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 93px;
}
.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  fill: currentColor;
}
.header__icons--spacing {
  margin-right: 10px;
}
.header__list {
  display: none;
}
@media (min-width: 768px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
  }
}
@media (min-width: 1200px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 46px;
  }
}

.nav, .nav__list {
  display: none;
}
@media (min-width: 768px) {
  .nav, .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 46px;
  }
}
.nav__link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}
.nav__link--active {
  position: relative;
  color: #2196f3;
}
.nav__link--active::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  top: 52px;
}
@media (min-width: 1200px) {
  .nav__link--active::after {
    top: 44px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #2196f3;
  text-decoration: none;
}
.logo--light {
  color: #ffffff;
}
.logo--dark {
  color: #000000;
}

@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}
.section {
  min-width: 320px;
  padding: 60px 15px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
.section__no-bottom-padding {
  padding: 60px 15px 0;
}
@media (min-width: 1200px) {
  .section__no-bottom-padding {
    padding: 94px 0 0;
  }
}
.section--no-padding {
  padding: 0;
  background-color: #2f303a;
}
.section--only-desktop {
  display: none;
}
@media (min-width: 1200px) {
  .section--only-desktop {
    display: block;
  }
}
.section__container {
  max-width: 1200px;
  margin: 0 auto;
}
.section__title--primary {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 1200px) {
  .section__title--primary {
    font-size: 44px;
    line-height: 1.36;
  }
}
.section__title--secondary {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  color: #212121;
}
@media (min-width: 1200px) {
  .section__title--secondary {
    font-size: 36px;
    line-height: 1.17;
  }
}
.section__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/img-bg.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  min-width: 320px;
  margin: 0 auto;
  padding: 118px 0;
}
@media (min-width: 1200px) {
  .section__banner {
    padding: 200px 0;
  }
}
.section--light {
  background-color: #ffffff;
}
.section--grey {
  background-color: #f5f4fa;
}

.about-us {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.about-us > li {
  max-width: 450px;
}
.about-us__icon {
  padding: 25px 0;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
}
.about-us__title {
  font-weight: 700;
  font-size: 14px;
  color: #212121;
  margin-bottom: 10px;
  text-align: center;
}
.about-us__description {
  font-size: 14px;
  line-height: 1.71;
}

@media (min-width: 768px) {
  .about-us {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-us > li {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .about-us__title {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .about-us {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0;
  }
}
.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.services__item {
  position: relative;
}
.services__description {
  position: absolute;
  top: 224px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px;
  text-align: center;
  width: 100%;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.team__card {
  margin: auto 0;
  padding: 0 0 24px 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.team__name {
  color: #212121;
  font-weight: 500;
  margin: 30px 0 10px;
}

@media (min-width: 768px) {
  .team {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 15px;
  }
  .team > li {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media (min-width: 1200px) {
  .team {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .team__card {
    padding: 0 0 30px 0;
    max-width: 270px;
  }
}
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.socials__icon--light {
  fill: #afb1b8;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__icon--light:hover {
  fill: #ffffff;
  background-color: #2196f3;
}
.socials__icon--dark {
  fill: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1019607843);
  -webkit-transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__icon--dark:hover {
  background-color: #2196f3;
}
.socials__link:focus .socials__icon--light {
  fill: #ffffff;
  background-color: #2196f3;
}
.socials__link:focus .socials__icon--dark {
  background-color: #2196f3;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.clients__logo {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  width: 210px;
  height: 92px;
}
.clients__logo:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
}
.clients__logo__link:focus .clients__logo {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

@media (min-width: 768px) {
  .clients > .clients__logo {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media (min-width: 1200px) {
  .clients {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .clients__logo {
    width: 170px;
    height: 92px;
  }
}
.footer {
  background-color: #2f303a;
  min-width: 320px;
  padding: 60px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__container {
  width: 320px;
  margin: 0 auto;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
}
.footer__heading {
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}
.footer__address {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  gap: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}
.footer__newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
}
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__input {
  background-color: transparent;
  padding: 15px 250px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  border-radius: 4px;
  margin-top: 20px;
  color: #ffffff;
  -webkit-transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.footer__input:hover, .footer__input:focus {
  border: 1px solid #2196f3;
}
.footer__icon {
  margin-left: 24px;
  fill: #ffffff;
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: #2196f3;
}

@media (min-width: 768px) {
  .footer__container {
    width: 768px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 60px;
  }
  .footer__newsletter {
    margin-top: 0;
  }
  .footer__socials {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 60px 0;
  }
  .footer__container {
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer__input {
    padding: 15px 157px 15px 16px;
  }
  .footer__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__socials, .footer__contacts, .footer__newsletter {
    display: block;
  }
  .footer__address {
    gap: 9px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
}
.btn--order, .btn--signin, .btn--send {
  padding: 10px 42px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn--order:hover, .btn--order:focus, .btn--signin:hover, .btn--signin:focus, .btn--send:hover, .btn--send:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.btn--filter {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn--filter:hover, .btn--filter:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn--send {
  padding: 10px 76px;
}
.btn--signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  padding-right: 28px;
}
@media (min-width: 1200px) {
  .btn--signin {
    margin-left: 12px;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  font-size: 12px;
  border-radius: 4px;
}
.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  border-radius: 50%;
  cursor: pointer;
}
.modal__btn:hover .modal__icon, .modal__btn:focus .modal__icon {
  opacity: 0.5;
}
.modal__icon {
  fill: #000000;
  -webkit-transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.form, .form__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 448px;
  margin: auto;
  gap: 10px;
}
.form__item {
  gap: 0;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.form__item:hover .form__icon, .form__item:focus-within .form__icon {
  fill: #2196f3;
}
.form__header {
  font-size: 20px;
  color: #212121;
  text-align: center;
  margin: 40px 0 12px;
}
.form__input {
  margin-top: 4px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  outline: none;
  -webkit-transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:hover, .form__input:focus {
  border: 1px solid #2196f3;
}
.form__comment {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}
.form__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.form__comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.form__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.form__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 10px;
  fill: #212121;
  -webkit-transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.form__checkbox {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  gap: 7px;
}
.form__checkbox--custom {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 2px;
  cursor: pointer;
  width: 16px;
  height: 15px;
}
.form__checkbox--custom:checked {
  display: none;
}
.form__checkbox--custom:checked + .checkbox-icon {
  display: block;
  background-color: #2196f3;
  fill: #ffffff;
  border-radius: 2px;
}
.form__link {
  color: getColor "active";
  -webkit-transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: underline;
}
.form__link:hover, .form__link:focus {
  opacity: 0.5;
}

.checkbox-icon {
  display: none;
}

.products__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-bottom: 50px;
}
.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}
.products__card {
  margin: 0;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  background: #ffffff;
  -webkit-transition: -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.products__card:hover, .products__card:focus {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.products__caption {
  border: 1px solid #eeeeee;
}
.products__box {
  position: relative;
  overflow: hidden;
}
.products__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.8980392157);
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  padding: 49px 45px 49px 24px;
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.products__card:hover .products__overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}
.products__heading {
  margin: 20px 24px 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  color: #212121;
}
.products__text {
  line-height: 1.87;
  margin: 0 24px 20px;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover svg,
.menu-toggle:focus svg {
  fill: #2196f3;
}

.menu-toggle svg,
.menu-toggle svg {
  -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #212121;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.mobile-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 64px;
}

.mobile-pages,
.mobile-contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.mobile-pages__link {
  font-size: 40px;
  color: #212121;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-pages__link--active {
  color: #2196f3;
}
.mobile-pages__link:hover, .mobile-pages__link:focus {
  color: #2196f3;
}

.mobile-contacts__link {
  font-size: 24px;
  color: #757575;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contacts__link:hover, .mobile-contacts__link:focus {
  color: #2196f3;
}

.mobile-socials {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.mobile-socials__link {
  font-size: 18px;
  line-height: 1.22;
  color: #2196f3;
  -webkit-transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-socials__link:hover, .mobile-socials__link:focus {
  opacity: 0.75;
}

.mobile-socials__item {
  padding-right: 10px;
}
.mobile-socials__item:not(:last-of-type) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}/*# sourceMappingURL=main.css.map */