:root {
  --active-color: #2196f3;
  --logo-color-header: #000000;
  --logo-color-footer: #ffffff;
  --links-color-header: #757575;
  --links-color-footer: #ffffff99;
  --text-color-light: #757575;
  --text-color-dark: #212121;
  --bg-color-white: #ffffff;
  --bg-color-lightgrey: #e5e5e5;
  --bg-color-grey: #f5f4fa;
  --bg-color-darkgrey: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-color-light);
  background-color: var(--bg-color-lightgrey);
}

.page-header,
.page-main {
  background-color: var(--bg-color-white);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--logo-color-header);
  text-decoration: none;
}

.logo-color {
  color: var(--active-color);
}

.link {
  text-decoration: none;
}

.nav-links .nav-link,
.contact-links .contact-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}
.nav-links .nav-link {
  color: var(--text-color-dark);
}

.nav-links .current-tab {
  color: var(--active-color);
}

.contact-links .contact-link {
  color: var(--links-color-header);
}

.section-dark,
.page-footer {
  background-color: var(--bg-color-darkgrey);
}

.page-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--bg-color-white);
}

.order-btn {
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--bg-color-white);
  background-color: var(--active-color);
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.section-light,
.services-section {
  background-color: var(--bg-color-white);
}

.text-list .text-title {
  font-weight: 700;
  font-size: 14px;
  color: var(--text-color-dark);
}

.text-list .normal-text,
.address {
  font-size: 14px;
  line-height: 1.71;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  color: var(--text-color-dark);
}

.section-grey {
  background-color: var(--bg-color-grey);
}

.team-card-name {
  color: var(--text-color-dark);
  font-weight: 500;
}

.page-footer .logo {
  color: var(--logo-color-footer);
}

.address {
  color: var(--bg-color-white);
  font-style: normal;
}

.address .contact-link {
  color: var(--links-color-footer);
}

.filter-btn {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--text-color-dark);
  background-color: var(--bg-color-grey);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--bg-color-white);
  background-color: var(--active-color);
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--active-color);
}

.product-card-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  color: var(--text-color-dark);
}

.product-card-text {
  line-height: 1.87;
}

ul,
h1 {
  list-style: none;
  margin: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.menu,
.page-header .container,
.nav-links,
.contact-links {
  display: flex;
  align-items: center;
  gap: 46px;
}

.page-header .container {
  justify-content: space-between;
  padding: 24px 0;
}

.wrapper {
  width: 1600px;
  margin: 0 auto;
  background-color: var(--bg-color-white);
}

.contact-links {
  padding-left: 280px;
}


