:root {
  --active-color: #2196f3;
  --logo-color-header: #000000;
  --logo-color-footer: #ffffff;
  --links-color-header: #757575;
  --links-color-footer: #ffffff99;
  --text-color-light: #757575;
  --text-color-dark: #212121;
  --bg-color-white: #ffffff;
  --bg-color-transparentblack: #ffffff1a;
  --bg-color-lightgrey: #e5e5e5;
  --bg-color-grey: #f5f4fa;
  --bg-color-darkgrey: #2f303a;
  --border-header: #ececec;
  --border-card: #eeeeee;
  --social-icons: #afb1b8;
  --social-icons-footer: #ffffff;
  --client-logos: #afb1b8;
  --bg-image-color: #2f303a66;
  --background-backdrop: rgba(0, 0, 0, 0.2);
  --modal-btn: rgba(0, 0, 0, 0.1);
  --services-description: #ffffff;
  --bg-overlay: #2196f3e5;
  --footer-input-brd: #ffffff4d;
  --form-brd: #21212133;
  --form-placehldr: #75757580;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-color-light);
  background-color: var(--bg-color-lightgrey);
}

ul,
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.page-header,
.page-main {
  background-color: var(--bg-color-white);
  border-bottom: 1px solid var(--border-header);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--logo-color-header);
  text-decoration: none;
}

.logo-color {
  color: var(--active-color);
}

.link {
  text-decoration: none;
}

.nav-links .nav-link,
.contact-links .contact-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}
.nav-links .nav-link {
  color: var(--text-color-dark);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-links .current-tab {
  color: var(--active-color);
}

.current-tab::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  transform: translateY(29px);
}

.contact-links .contact-link {
  color: var(--links-color-header);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.page-main .section-dark,
.page-footer {
  background-color: var(--bg-color-darkgrey);
}

.page-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--bg-color-white);
  text-align: center;
}

.header-image {
  background-image: linear-gradient(var(--bg-image-color), var(--bg-image-color)),
    url('../images/img-bg.jpg');
  width: 1600px;
  margin: 0 auto;
}

.order-btn,
.signin-btn,
.send-btn {
  padding: 10px 42px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--bg-color-white);
  background-color: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.order-btn:hover,
.order-btn:focus,
.signin-btn:hover,
.signin-btn:focus,
.send-btn:hover,
.send-btn:focus {
  transform: scale(1.05);
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
}

.section-light {
  background-color: var(--bg-color-white);
}

.text-list .text-title {
  font-weight: 700;
  font-size: 14px;
  color: var(--text-color-dark);
  margin-bottom: 10px;
}

.text-list .normal-text,
.address {
  font-size: 14px;
  line-height: 1.71;
}

.section-grey {
  background-color: var(--bg-color-grey);
}

.team-card-name {
  color: var(--text-color-dark);
  font-weight: 500;
  margin: 30px 0 10px;
}

.page-footer .logo {
  color: var(--logo-color-footer);
}

.page-footer {
  padding: 60px 0;
}

.address {
  color: var(--logo-color-footer);
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.address .contact-link {
  color: var(--links-color-footer);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--text-color-dark);
  background-color: var(--bg-color-grey);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--bg-color-white);
  background-color: var(--active-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--active-color);
}

.product-card-heading {
  margin: 20px 24px 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  color: var(--text-color-dark);
}

.product-card-text {
  line-height: 1.87;
  margin: 0 24px 20px;
}

.menu,
.page-header .container,
.nav-links,
.contact-links {
  display: flex;
  align-items: center;
  gap: 46px;
}

.page-header .container {
  justify-content: space-between;
  padding: 24px 0;
}

.contact-links {
  margin-left: 280px;
}

.header-image {
  padding: 200px 0;
}
.section-dark .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.section {
  padding: 94px 0;
}

.no-bottom-padding {
  padding: 94px 0 0;
}

.no-padding {
  padding: 0;
}

.text-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  color: var(--text-color-dark);
}

.services-list,
.team-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.services-list li {
  position: relative;
}

.service-desc {
  position: absolute;
  top: 224px;
  color: var(--services-description);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  background-color: #2f303acc;
  padding: 27px;
  text-align: center;
  width: 100%;
}

.team-card {
  margin: auto 0;
  padding: 0 0 30px 0;
  background-color: var(--bg-color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.contact {
  margin-top: 20px;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  flex-basis: calc((100% - 2 * 30px) / 3);
}

.product-card {
  margin: 0;
  flex-basis: calc((100% - 2 * 30px) / 3);
  background: var(--bg-color-white);
  transition: box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.product-card figcaption {
  border: 1px solid var(--border-card);
}

.product-card:hover,
.product-card:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.product-box {
  position: relative;
  overflow: hidden;
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-overlay);
  font-size: 18px;
  line-height: 1.55;
  color: var(--services-description);
  padding: 49px 45px 49px 24px;
  transform: translatey(100%);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.product-card:hover .product-overlay {
  transform: translatey(0);
}

.icon-spacing {
  margin-right: 10px;
}

.icons-header {
  display: flex;
  justify-content: center;
  text-align: center;
  fill: currentColor;
}

.text-icon {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bg-color-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.team-card-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 10px;
}

.team-card-icon {
  fill: var(--social-icons);
  background-color: var(--bg-color-white);
  border-radius: 50%;
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card-icon:hover,
.team-card-icon:focus {
  fill: var(--bg-color-white);
  background-color: var(--active-color);
}

.client-logo-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.client-logo {
  border: 1px solid var(--client-logos);
  border-radius: 4px;
  fill: var(--client-logos);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1), border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo:hover,
.client-logo:focus {
  fill: var(--active-color);
  border: 1px solid var(--active-color);
}

.page-footer .container {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.footer-list {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.footer-icon {
  fill: var(--social-icons-footer);
  border-radius: 50%;
  background-color: var(--bg-color-transparentblack);
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  color: var(--logo-color-footer);
  margin-top: 12px;
}

.footer-icon:hover,
.footer-icon:focus {
  background-color: var(--active-color);
}

/* --- okno modalne --- */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-backdrop);
  transition: all 0.25s linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  font-size: 12px;
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid var(--modal-btn);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form,
.form-item {
  display: flex;
  flex-direction: column;
  width: 448px;
  margin: auto;
}

.modal-header {
  font-size: 20px;
  color: var(--text-color-dark);
  text-align: center;
  margin: 40px 0 12px;
}

.form-input {
  margin-top: 4px;
  height: 40px;
  border: 1px solid var(--form-brd);
  border-radius: 4px;
}

.modal-form {
  gap: 10px;
  align-items: center;
}

.form-comment {
  resize: none;
  height: 120px;
  padding: 12px 16px;
}

.form-comment::placeholder {
  color: var(--form-placehldr);
}

.form-checkbox {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7px;
}

.form-checkbox a {
  color: var(--active-color);
}

.form-checkbox input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
}

.check-icon {
  border: 2px solid var(--text-color-light);
  border-radius: 2px;
  fill: var(--bg-color-white);
  cursor: pointer;
}

.send-btn {
  width: 200px;
}

/* --- koniec okna modalnego --- */

/* --- newsletter --- */

.footer-form {
  display: flex;
}

.footer-form input[type='email'] {
  background-color: transparent;
  padding: 15px 157px 15px 16px;
  border: 1px solid var(--footer-input-brd);
  border-radius: 4px;
  margin-top: 20px;
  color: var(--logo-color-footer);
  outline: none;
  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.signin-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 12px;
  padding-right: 28px;
}

.footer-form-icon {
  margin-left: 24px;
  fill: var(--bg-color-white);
}

.footer-form input[type='email']:hover,
.footer-form input[type='email']:focus {
  border: 1px solid var(--active-color);
}

/* --- koniec newslettera --- */
