@import './utils/variables';
@import './utils/mixin';
@import './components/general';
@import './components/header';
@import './components/logo';
@import './components/section';
@import './components/about-us';
@import './components/services';
@import './components/team';
@import './components/socials';
@import './components/clients';
@import './components/footer';
@import './components/button';