.about-us {
  margin-bottom: 60px;
  @include flex(center);
  flex-direction: column;
  gap: 30px;

  > li {
    flex-basis: calc(100% - 30px);
  }

  &__icon {
    padding: 25px 0;
    margin-bottom: 30px;
    background-color: getColor('bg-main-secondary');
    @include flex(center);
    border-radius: 4px;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    color: getColor('text-dark');
    margin-bottom: 10px;
    text-align: center;
  }

  &__description {
    font-size: 14px;
    line-height: 1.71;
  }
}

@media (min-width: $screenTablet) {
  .about-us {
    flex-direction: row;
    flex-wrap: wrap;

    > li {
      flex-basis: calc((100% - 30px) / 2);
    }

    &__title {
      text-align: left;
    }
  }
}

@media (min-width: $screenDesktop) {
  .about-us {
    flex-wrap: nowrap;
    margin: 0;
  }
}
