.btn {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;

  &--order,
  &--signin,
  &--send {
    padding: 10px 42px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: getColor('text-white');
    background-color: getColor('active');
    box-shadow: 0px 4px 4px 0px #00000026;
    @include transition(transform);

    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }

  &--filter {
    padding: 6px 22px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: getColor('text-dark');
    background-color: getColor('bg-main-secondary');
    @include transition(color);
    @include transition(background-color);
    @include transition(box-shadow);

    &:hover,
    &:focus {
      color: getColor('text-white');
      background-color: getColor('active');
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }

  &--send {
    padding: 10px 76px;
    
  }

  &--signin {
    @include flex(center);
    margin: 20px 0 0 12px;
    padding-right: 28px;
  }
}
