@import '../utils/mixin';

.btn {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;

  &--order,
  &--signin,
  &--send {
    padding: 10px 42px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--bg-color-white);
    background-color: var(--active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
