.clients {
  @include flex(center);
  gap: 30px;
  flex-wrap: wrap;

  &__logo {
    @include border(getColor('logo-client'));
    border-radius: 4px;
    fill: getColor('logo-client');
    @include transition(fill);
    @include transition(border);
    width: 210px;
    height: 92px;

    &:hover {
      fill: getColor('active');
      @include border(getColor('active'));
    }

    &__link:focus {
      .clients__logo {
        fill: getColor('active');
        @include border(getColor('active'));
      }
    }
  }
}

// do poprawy flex-basis - nie dziala miedzy 960 a 1200 px
@media (min-width: $screenTablet) {
  .clients > .clients__logo {
    flex-basis: calc((100% - 2 * 30px) / 3);
  }
}

@media (min-width: $screenDesktop) {
  .clients {
    flex-wrap: nowrap;

    &__logo {
      width: 170px;
      height: 92px;
    }
  }
}
