.footer {
  background-color: getColor('bg-footer');
  width: 100%;
  margin: 0 auto;

  &__container {
    gap: 60px;
    padding: 60px 15px;
  }

  &__container,
  &__contacts,
  &__socials,
  &__newsletter {
    @include flex(center);
    flex-direction: column;
  }

  &__newsletter {
    width: 100%;
  }

  &__heading {
    font-weight: 700;
    font-size: 14px;
    color: getColor('logo-footer');
  }

  &__address {
    color: getColor('text-white');
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    gap: 8px;
    @include flex(center);
    flex-direction: column;
    margin-top: 20px;
  }

  &__form {
    @include flex(center);
    flex-direction: column;
    width: 100%;
  }

  &__input {
    width: 100%;
    max-width: 450px;
    background-color: transparent;
    padding: 15px;
    @include border(getColor('border-primary'));
    border-radius: 4px;
    margin-top: 20px;
    color: getColor('logo-footer');
    @include transition(border);

    &:hover,
    &:focus {
      @include border(getColor('active'));
    }
  }

  &__icon {
    margin-left: 24px;
    fill: getColor('icon-secondary');
  }

  &__link {
    color: getColor('link-footer');
    @include transition(color);

    &:hover,
    &:focus {
      color: getColor('active');
    }
  }
}

@media (min-width: $screenTablet) {
  .footer {
    &__container {
      width: $screenTablet;
      margin: 0 auto;
      @include flex(space-around);
      align-items: baseline;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 60px;
    }

    &__newsletter {
      margin-top: 0;
    }

    &__socials {
      margin-top: 0;
    }
  }
}

@media (min-width: $screenDesktop) {
  .footer {
    &__container {
      width: 1200px;
      margin: 0 auto;
      @include flex(space-between);
      align-items: baseline;
      flex-wrap: nowrap;
      padding: 60px 0;
    }

    &__newsletter {
      width: fit-content;
    }

    &__form {
      display: flex;
      flex-direction: row;
    }

    &__input {
      background-color: transparent;
      width: 358px;
      @include border(getColor('border-primary'));
      border-radius: 4px;
      margin-top: 20px;
      color: getColor('logo-footer');
      @include transition(border);
      outline: none;

      &:hover,
      &:focus {
        @include border(getColor('active'));
      }
    }

    &__address,
    &__contacts,
    &__socials,
    &__newsletter {
      align-items: flex-start;
    }
  }
}
