.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: getColor('active');
  text-decoration: none;

  &--light {
    color: getColor('logo-footer');
  }

  &--dark {
    color: getColor('logo-header');
  }
}
