.products {
  &__filter {
    @include flex(center);
    gap: 8px;
    margin-bottom: 50px;
  }

  &__list {
    @include flex(center);
    flex-wrap: wrap;
    gap: 30px;
    flex-basis: calc((100% - 2 * 30px) / 3);
  }

  &__card {
    margin: 0;
    flex-basis: calc((100% - 2 * 30px) / 3);
    background: getColor('bg-main-primary');
    @include transition(box-shadow);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    }
  }

  &__caption {
    border: 1px solid getColor('border-products');
  }

  &__box {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: getColor('bg-overlay');
    font-size: 18px;
    line-height: 1.55;
    color: getColor('text-white');
    padding: 49px 45px 49px 24px;
    transform: translatey(100%);
    @include transition(transform);

    .products__card:hover & {
      transform: translatey(0);
    }
  }

  &__heading {
    margin: 20px 24px 4px;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    color: getColor('text-dark');
  }

  &__text {
    line-height: 1.87;
    margin: 0 24px 20px;
  }
}
