.section {
  min-width: $ScreenMinWidth;
  padding: 60px 15px;
  margin: 0 auto;

  @media (min-width: $screenDesktop) {
    padding: 94px 0;
  }

  &__no-bottom-padding {
    padding: 60px 15px 0;

    @media (min-width: $screenDesktop) {
      padding: 94px 0 0;
    }
  }

  &--no-padding {
    padding: 0;
    background-color: getColor('bg-banner');
  }

  &__container {
    min-width: $ScreenMinWidth;
    margin: 0 auto;

    @media (min-width: $screenMobile) {
      max-width: $screenMobile;
    }

    @media (min-width: $screenTablet) {
      max-width: $screenTablet;
    }

    @media (min-width: $screenDesktop) {
      max-width: $screenDesktop;
    }
  }

  &__title--primary {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    color: getColor('text-white');
    text-align: center;

    @media (min-width: $screenDesktop) {
      font-size: 44px;
      line-height: 1.36;
    }
  }

  &__title--secondary {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.14;
    color: getColor('text-dark');

    @media (min-width: $screenDesktop) {
      font-size: 36px;
      line-height: 1.17;
    }
  }

  &__banner {
    @include flex(center);
    flex-direction: column;
    gap: 30px;
    background-image: linear-gradient(getColor('bg-image'), getColor('bg-image')),
      url('../images/img-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1600px;
    min-width: 320px;
    margin: 0 auto;
    padding: 118px 0;

    @media (min-width: $screenDesktop) {
      padding: 200px 0;
    }
  }

  &--light {
    @media (min-width: $screenDesktop) {
      background-color: getColor('bg-main-primary');
    }

    &:nth-of-type(3) {
      display: none;

      @media (min-width: $screenDesktop) {
        display: block;
      }
    }
  }

  &--grey {
    background-color: getColor('bg-main-secondary');
  }
}
