.section {
  padding: 60px 0;

  @media (min-width: 1200px) {
    padding: 94px 0;
  }

  &__no-bottom-padding {
    padding: 60px 0 0;

    @media (min-width: 1200px) {
      padding: 94px 0 0;
    }
  }

  &--no-padding {
    padding: 0;
    background-color: getColor('bg-banner');
  }

  &__container {
    min-width: 480px;
    margin: 0 auto;

    @media (min-width: 480px) {
      width: 480px;
    }

    @media (min-width: 768px) {
      min-width: 768px;
    }

    @media (min-width: 1200px) {
      width: 1200px;
    }
  }

  &__title--primary {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    color: getColor('text-white');
    text-align: center;

    @media (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }

  &__title--secondary {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    color: getColor('text-dark');
  }

  &__banner {
    @include flex(center);
    flex-direction: column;
    gap: 30px;
    background-image: linear-gradient(getColor('bg-image'), getColor('bg-image')),
      url('../images/img-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;
    padding: 118px 0;

    @media (min-width: 1200px) {
      max-width: 1600px;
      padding: 200px 0;
    }
  }

  &--light {
    background-color: getColor('bg-main-primary');
  }

  &--grey {
    background-color: getColor('bg-main-secondary');
  }
}
